/* font faces */

@font-face {
  font-family: "Zardouz";
  src: url("/zardouz/assets/fonts/PTSans.ttc"); /*URL to font*/
}

/* initial configs */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Zardouz";
}

/* global classes */

.vw-50 {
  width: 50vw;
}

.vh-50 {
  height: 50vh;
}

.vh-70 {
  height: 70vh;
}

.vh-80 {
  height: 80vh;
}

.w-10 {
  width: 10%;
}

.w-25 {
  width: 25%;
}

.w-49 {
  width: 49%;
}

.h-screen {
  height: 100vh;
}

.max-h-600 {
  max-height: 600px;
}

.bg-size-cover {
  background-size: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.my-6 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.pe-8 {
  padding-right: 8rem !important;
}

.px-8 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.bg-center {
  background-repeat: no-repeat;
  background-position: center;
}

.bg-top {
  background-repeat: no-repeat;
  background-position: top;
}

.fs-05 {
  font-size: 0.5rem;
}

.blur-5 {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.bottom-5 {
  bottom: 5%;
}

.object-center {
  object-position: center !important;
}

.zardouz-underline {
  border-bottom: #13131342 solid 3px;
}

/* main classes */

.header-hero {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.header-banner {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 93.56%,
    52% 93.56%,
    50% 99.11%,
    48% 93.56%,
    0% 93.56%
  );
  height: 70vh;
  background-color: transparent;
  background: top fixed;
  background-repeat: no-repeat;
}

.image-hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.image-hover:hover {
  filter: contrast(0.5);
  -webkit-filter: contrast(0.5);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.overlay-content {
  top: 80%;
  right: 10%;
  left: 10%;
}

.renew img {
  max-height: 600px;
}

.customize img {
  max-height: 500px;
  width: auto;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}

.nav-bar {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

footer input::placeholder {
  padding: 0 30px;
}

footer input {
  border: rgba(0, 0, 0, 0.247) solid 1px;
}

.cart-accordion-body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 250px;
  overflow: scroll;
}

.cart-accordion-body::-webkit-scrollbar {
  display: none;
}

.bg-black-btn {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.bg-black-btn:hover {
  color: black !important;
  background-color: whitesmoke !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.bg-white-btn {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.bg-white-btn:hover {
  color: whitesmoke !important;
  background-color: black !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.cart-count {
  position: absolute;
  font-size: 0.6rem;
  left: 30%;
  top: 35%;
}

.divider {
  width: 100% !important;
  position: absolute;
  left: 0;
  bottom: -5%;
}

/* Search menu input style */

.wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #000000b7;
}

/* Responsive customize slider */

.customize-slider > swiper-container {
  width: 800px;
}

.customize-slider > swiper-slide {
  height: 300px;
  background: #ffffff;
  line-height: 300px;
  text-align: center;
}

/* Link hover animation */

.menu__link {
  color: #000;
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.4s, left 0.4s;
  -webkit-transition: width 0.4s, left 0.4s;
  -moz-transition: width 0.4s, left 0.4s;
  -ms-transition: width 0.4s, left 0.4s;
  -o-transition: width 0.4s, left 0.4s;
  animation: linkAnimationBack 0.5s;
  -webkit-animation: linkAnimationBack 0.5s;
}

.menu__link:hover::before {
  animation: linkAnimation 0.5s;
  -webkit-animation: linkAnimation 0.5s;
}

/* toast notification */

.bagToast {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

.toast-hidden {
  transform: translateX(-150%);
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  -o-transform: translateX(-150%);
}

/* Divider */

.triangle-divider {
  position: relative;
  background: #50362c;
  height: 100vh;
}

.triangle-divider::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 29px 29px 0 29px;
  border-color: #2c3e50 transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

.language-form > .form-select:focus {
  box-shadow: none !important;
  border: 1px solid gainsboro;
}

/* Accordion */

.contact-content .accordion-button:not(.collapsed),
.single-product-info .accordion-button:not(.collapsed) {
  background: transparent !important;
  border-bottom: none;
  color: black;
}

.contact-content .accordion-button:focus,
.single-product-info .accordion-button:focus {
  box-shadow: none !important;
}

.contact-content .accordion-item,
.single-product-info .accordion-item {
  border: none !important;
  border-bottom: 1px solid gainsboro !important;
  text-align: justify !important;
}

.contact-content .accordion,
.single-product-info .accordion {
  --bs-accordion-border-width: 0 !important;
}

.contact-content .accordion-button::after {
  text-align: center;
  font-size: 2rem;
  content: "+";
  background-image: none;
}

.contact-content .accordion-button:not(.collapsed)::after {
  content: "-" !important;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}
/* Responsive */

@media (max-width: 768px) {
  .overlay-content {
    top: 85%;
  }
  .fs-mobile-05 {
    font-size: 0.5rem !important;
  }
  .fs-mobile-1 {
    font-size: 1rem !important;
  }
  .fs-mobile-103 {
    font-size: 1.3rem !important;
  }
  .vh-mobile-40 {
    height: 40vh !important;
  }
  .vh-mobile-80 {
    height: 80vh;
  }
  .vh-mobile-50 {
    height: 50vh;
  }
  .vh-mobile-60 {
    height: 60vh;
  }
  .w-mobile-100 {
    width: 100% !important;
  }
  .header-banner {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 96.56%,
      56% 96.56%,
      50% 100%,
      44% 96.56%,
      0% 96.56%
    );
    height: 60vh;
  }
  .language-form > select {
    padding-right: 2rem !important;
    padding-left: 0.5rem !important;
    margin-left: 1rem;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .header-banner {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 97%,
      52% 97%,
      50% 100%,
      48% 97%,
      0% 97%
    );
    height: 40vh;
  }
  .vh-tablet-50 {
    height: 50vh;
  }
}
/* Animation */

@keyframes linkAnimation {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 50%;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

@keyframes linkAnimationBack {
  0% {
    left: 0;
    width: 100%;
  }
  25% {
    left: 25%;
    width: 50%;
  }
  50% {
    left: 50%;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
